[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
singleton-decorator = "*"
pytest = "*"
python-decouple = "*"
pytest-dotenv = "*"
factory-boy = "*"
alembic = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask = "*"
flask-restful = "*"
celery = "*"
elastic-apm = "*"
gunicorn = "*"
boto = "*"
gevent = "*"
blinker = "*"
boto3 = "*"
requests = "*"
schematics = "*"
redis = "*"
wcwidth = "*"
json-log-formatter = "*"


[requires]
python_version = "3.8"
